.tile-container {
    display: grid;
    gap: 4rem;
    row-gap: 8rem;
}

.game-card {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.game-tile-headline {
    cursor: pointer;
    margin-bottom: 0.25rem;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    height: 200px;
}
  
.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.platform-span {
    background: rgb(214, 212, 214);
    padding: 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 0.75rem;
    cursor: pointer;
}

.ratings {
    margin-top: auto;
}

.rating h3 {
    margin: 0;
}

.release-year {
    font-size: 1rem;
    color: rgb(14, 12, 12);
    margin-bottom: 1rem;
}

.rating-button {
    background: #68019f;
    color: white;
    border-radius: 0.25rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}

.rating-button:hover {
    background: #69019f;
    transform: scale(1.05);
}



table {
    border-collapse: collapse;
    width: 100%;
    font-weight: semibold;
}
th, td {
    border: 1px solid #68019f;
    border-top: transparent;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #68019f;
    color: white;
}



.tile-container {
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .tile-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .tile-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .tile-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 450px) {
    .game-card {
        width: 300px;
    }
}