.image-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .image-gallery .image-container {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .image-gallery .image-container img {
    min-width: 300px;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
  
  .image-gallery .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .prev-button {
    left: 30%;
  }
  
  .next-button {
    right: 30%;
  }
  