table {
    border-collapse: collapse;
    width: 100%;
    font-weight: semibold;
    background: white;
    font-size: 12px;
}
th, td {
    border: 1px solid #68019f;
    border-top: transparent;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #68019f;
    color: white;
}

tr:nth-child(odd) {
    background-color: lavenderblush;
}